@import url('semantic-ui-css/semantic.min.css');

body {
  background-color: #eaeaea;
}

.ui.fixed.menu {
  background-image: linear-gradient(
    135deg,
    rgb(42, 24, 115) 0%,
    rgb(138, 33, 174) 69%,
    rgb(167, 32, 172) 89%
  );
}

.ui.main.container {
  margin-top: 7em;
}

.masthead {
  display: flex;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(
    135deg,
    rgb(42, 24, 115) 0%,
    rgb(138, 33, 174) 69%,
    rgb(167, 32, 172) 89%
  ) !important;
}

.masthead h1.ui.header {
  font-size: 4em;
}

.react-datepicker-wrapper {
  width: 100%;
}
