body {
  background-color: #efefef;
}

.ui.fixed.menu {
  background-image: linear-gradient(
    135deg,
    rgb(35, 23, 119) 0%,
    rgb(135, 35, 179) 69%,
    rgb(167, 35, 179) 89%
  );
}

.ui.main.container {
  margin-top: 7em;
}
